__pycache__
./recommender_api/__pycache__
./recommender_api/apps/__pycache__
./recommender_api/utils/__pycache__

.idea
./recommender_api/.idea
./recommender_api/apps/.idea
./recommender_api/utils/.idea

.DS_Store
./recommender_api/config.py